body {
    padding-top: 50px;
}
.main-wrapper {
    width: 95%;
    margin: 0 auto;
    background: #f5f5f5;
    border: 1px solid gray;
    border-radius: 3px;
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.3);
}

.main-wrapper li {
    padding: 8px;
}
