<!DOCTYPE html>
<html ng-app="todo">
    <head>
        <meta charset="utf-8">
        <title>Todo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- MAIN STYLESHEET COMPILE AFTER SASS -->
        <link rel="stylesheet" href="./css/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:300|Montserrat" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    </head>
    <body>
        <!-- LOADER WITH ROOTSCOPE FOR PROGRESSING LOADING BAR -->
        <div ng-show="isShowing" class="loader">
            <p>Please wait while we load the app!</p>
            <div class="loader-title">
                <h1>Todo</h1>
                <i class="material-icons small-icon">line_style</i>
            </div>

            <!-- SPINNER ANIMATION FOR LOADER PAGE -->
            <div class="spinner"></div>
        </div>

        <!-- MAIN CONTROLLER TO SHOW AFTER LOADING -->
        <div ng-hide="isShowing" ng-controller="mainCtrl" class="main-wrapper">
            <div class="header-container">
                <div class="title-container">
                    <h1>Todo</h1>
                    <i class="material-icons small-icon">line_style</i>
                </div>
                <p>Simplify You</p>
                <p class="count">{{ count }}</p>
            </div>

            <div class="list-container">
                <ul>
                    <li ng-repeat="product in products">{{ product }}
                        <span ng-click="removeItem($index)"><i class="material-icons">close</i></span>
                    </li>
                </ul>
            </div>

            <!-- ERROR NOTIFICATIONS AND TEXT -->
            <p class="add-text">Please add something to the list.{{ addText }}</p>
            <p ng-hide="isError" class="error-text">{{ errorText }}</p>

            <div class="arrow-container">
                <i class="material-icons">keyboard_arrow_down</i>
            </div>

            <div class="input-container">
                <input type="text" ng-model="addMe" placeholder="Add Item">
                <button type="button" ng-click="addItem()"><i class="material-icons">add_circle_outline</i></button>
            </div>

            <footer>
                    <p>
                        Built By: Elliot Richardson
                    </p>
            </footer>

        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
        <script src="./js/app.module.js"></script>
        <script src="./js/mainCtrl.js"></script>
    </body>
</html>
